* {

}

.portraitMsg{
    display: none;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

#navT {
	height: 50px;
}

#navB {
	padding-top: 20px;
	height: 70px;
	text-align: center;
	line-height: 1px;
}


@font-face {
    font-family: "re.ttf";
    src: url(../fonts/re.ttf);

}

#myName {
	font-family: "re.ttf";
	margin-top: -8px;
}

#actTitle {
	margin-top: 20px;
	font-family: "re.ttf";
}



#bods {
	background: url(../images/door1.jpg) no-repeat center fixed;
	background-size: cover;
}


#foot{
	font-size: 11px;
}



.invisibleDoor1{

    height: 400px;
    width: 222px;
    /*background-color: red;*/
    position: absolute;
    margin-top: 17%;
    margin-left: 15%;
}

#videoDoor1{
	width: 99%;
	display: none;
}

.invisibleDoor2 {
    height: 557px;
    width: 308px;
    /*background-color: blue;*/
    position: absolute;
    margin-top: 17%;
    margin-left: 25%;
    display: none;
    z-index: 10;
}


.invisibleDoor2-1 {
    height: 557px;
    width: 308px;
    /*background-color: blue;*/
    position: absolute;
    margin-top: 17%;
    margin-left: 60%;
    display: none;
    z-index: 1;
}


#videoDoor2{
	width: 99%;
	display: none;
}

#videoDoor2-1{
	width: 99%;
	display: none;
}


.invisibleDoor3 {
	height: 561px;
    width: 308px;
    /*background-color: red;*/
    position: absolute;
    margin-top: 17%;
    margin-left: 60%;
    z-index: 10;
    /*display: none;*/
}


#videoDoor3{
	width: 99%;
	display: none;
}



.invisibleDoor4{
    position: absolute;
    margin-top: 23%;
    margin-left: 10%;
    height: 381px;
    width: 256px;
    /*background-color: red;*/
    display: none;
}


#videoDoor4{
	width: 99%;
	display: none;
}


.invisibleDoor5{
    position: absolute;
    margin-top: 23%;
    margin-left: 40%;
    height: 381px;
    width: 256px;
    /*background-color: red;*/
    display: none;
}


#videoDoor5{
	width: 99%;
	display: none;
}


.invisibleDoor6{
    position: absolute;
    margin-top: 23%;
    margin-left: 75%;
    height: 381px;
    width: 256px;
    /*background-color: red;*/
    display: none;
}


#videoDoor6{
	width: 99%;
	display: none;
}


#gameOver1{
	width: 99%;
	display: none;
}






#areYouReady{
    font-family: "re.ttf";
    position: absolute;
    width: 90%;
    margin-left: 50%;
    margin-top: 79px;
    color: black;
    transform: translate(-50%);
    font-weight: bold;
    /* background-color: white; */
    text-align: center;
    font-size: 290%;
}

#instruction1{
    position: absolute;
    margin-left: 32%;
    margin-top: 30%;
    color: black;
    font-size: 20px;
    font-weight: bold;
}



#q1{
    position: absolute;
    margin-top: 11%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(200,30,30,0.8);
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    display: none;
}






/*@media (min-width: 220px) and (max-width: 450px) {
    #solarsystem {
        display: none;
    }
*/

/* Portrait */
@media screen and (device-width: 360px) {
  /*or (device-height: 640px) */
  /*and (-webkit-device-pixel-ratio: 4) */
  /*and (orientation: portrait) {*/

    section {
        display: none;
    }

    #bods{
        background: url(../images/noSignal.gif) no-repeat center fixed;
        background-size: cover;
        text-align: center;
    }

    #portraitMsg{
        position: absolute;
        display: block;
        font-size: 60px;
        color: white;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}





@media screen and (device-width: 320px) {
  /*or (device-height: 640px) */
  /*and (-webkit-device-pixel-ratio: 4) */
  /*and (orientation: portrait) {*/

    section {
        display: none;
    }

    #bods{
        background: url(../images/noSignal.gif) no-repeat center fixed;
        background-size: cover;
        text-align: center;
    }

    #portraitMsg{
        position: absolute;
        display: block;
        font-size: 60px;
        color: white;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}