* {

}

#portraitMsg{
    position: absolute;
    display: block;
    font-size: 60px;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

#noSignal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}

#sec{
    max-width: 1920px;
    min-width: 480px;
    max-height: 1080px;
    min-height: 320px;
}

.navbar-center {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
}

#navT {
	height: 40px;
    text-align: center;
}

#navB {
	padding-top: 20px;
	height: 30px;
	text-align: center;
}


@font-face {
    font-family: "re.ttf";
    src: url(../fonts/re.ttf);

}

#myName {
    position: relative;
	font-family: "re.ttf";
    color: white;
    font-size: 30px;
    top: 5px;
    margin-left: 18%;

}

#disclaimer2{
    font-size: 15px;
    color: white;
}

#disclaimer1{
    /*font-size: 15px;*/
    color: white;
}

#actTitle {
	margin-top: 20px;
    color: white;
	font-family: "re.ttf";
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: red;
}



#bods {

	background: url(../images/frontPage.jpg) no-repeat center fixed;
	background-size: cover;
}



#foot{
	font-size: 11px;
}



.invisibleDoor1{

    max-height: 400px;
    min-height: 270px;
    width: 222px;
    min-width: 111px;
    /*background-color: red;*/
    position: absolute;
    margin-top: 17%;
    margin-left: 15%;
}

/*video {
    min-width: 100%; 
    min-height: 100%;
}*/

#videoDoor1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
	display: none;
}

.invisibleDoor2 {
    height: 557px;
    width: 308px;
    /*background-color: blue;*/
    position: absolute;
    margin-top: 17%;
    margin-left: 25%;
    display: none;
    z-index: 10;
}


.invisibleDoor2-1 {
    height: 557px;
    width: 308px;
    /*background-color: blue;*/
    position: absolute;
    margin-top: 17%;
    margin-left: 60%;
    display: none;
    z-index: 1;
}


#videoDoor2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
	display: none;
}

#videoDoor2-1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
	display: none;
}


.invisibleDoor3 {
	max-height: 561px;
    min-height: 270px;
    width: 308px;
    /*background-color: red;*/
    position: absolute;
    margin-top: 17%;
    margin-left: 60%;
    z-index: 10;
    /*display: none;*/
}


#videoDoor3{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
	display: none;
}



.invisibleDoor4{
    position: absolute;
    margin-top: 23%;
    margin-left: 10%;
    height: 381px;
    width: 256px;
    /*background-color: red;*/
    display: none;
}


#videoDoor4{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
	display: none;
}


.invisibleDoor5{
    position: absolute;
    margin-top: 23%;
    margin-left: 40%;
    height: 381px;
    width: 256px;
    /*background-color: red;*/
    display: none;
    z-index: 10;
}

.invisibleDoor5-1{
    position: absolute;
    margin-top: 23%;
    margin-left: 40%;
    height: 381px;
    width: 256px;
    /*background-color: red;*/
    display: none;
    z-index: 1;
}


#videoDoor5{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
	display: none;
}


.invisibleDoor6{
    position: absolute;
    margin-top: 23%;
    margin-left: 75%;
    height: 381px;
    width: 256px;
    /*background-color: red;*/
    display: none;
}


#videoDoor6{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    display: none;
}


.invisibleDoor7{
    position: absolute;
    margin-top: 19%;
    margin-left: 15%;
    height: 556px;
    width: 385px;
    /*background-color: red;*/
     display: none; 
}

#videoDoor7{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    display: none;
}


.invisibleDoor8 {
    position: absolute;
    margin-top: 19%;
    margin-left: 49%;
    height: 550px;
    width: 162px;
    /*background-color: blue;*/
     display: none; 
}

#videoDoor8{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
	display: none;
}


#gameOver2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
	display: none;
}


#tadah{
    height: 0px;
    width: 0px;
    display: none;
}



#q1{
    position: absolute;
    margin-top: 50px;
    width: 100%;
    /*margin-left: 50%;*/
    /*transform: translate(-50%,-50%);*/
    background-color: rgba(200,30,30,0.8);
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    display: none;
}


#q2{
    position: absolute;
    margin-top: 50px;
    width: 100%;
    /*margin-left: 50%;*/
    /*transform: translate(-50%,-50%);*/
    background-color: rgba(200,30,30,0.8);
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    display: none;
}






/*@media (min-width: 220px) and (max-width: 450px) {
    #solarsystem {
        display: none;
    }
*/

/* Portrait */
@media only screen and (orientation: portrait)  {
    section {
        display: none;
    }

    #bods{
        text-align: center;
    }

    #portraitMsg{
        display: block;
    }
    #noSignal{
        display: block;
    }
}




